<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebPluginDescription</key>
	<string>HelloWorld Plugin</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/reposter</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Reposter</string>
		</dict>
        </dict>
	<key>WebPluginName</key>
		<string>Reposter -in</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>rpl</string>
	<key>CFBundleGetInfoString</key>
	<string>Repost Plugin for the win</string>
	<key>CFHumanReadableCopyright</key>
	<string>Copyright (c) 1996-2010 the repost muther</string>
	<key>CFBundleIdentifier</key>
	<string>com.sideramota.repost</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>rpl.plugin</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleSignature</key>
	<string>MOEE</string>
	<key>CFBundleVersion</key>
	<string>1.0.5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.5</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
</dict>
</plist>

